@media (max-width: 1024px) {
  #findBestEvents{
    color: rgb(220, 86, 197);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 900;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    display: block;
    width: 588px;
    //margin-left: -150px;
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .heading {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0;
    top: 10px;
    transform: translateX(0);
    width: 100%;
    text-align: center;
    margin: 20px auto;
    position: relative;
    padding: 10px;
  }

  #findBestEvents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: fit-content;
  }

  .inputList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  .searchInput {
    margin-bottom: 1rem;
  }

  .second-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .headerLogo {
    position: fixed;
    left: 0;
    top: 0;
  }
  header {
    background: url("../img/headerBgTablet768.png");
  }

  #findBestEvents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: fit-content;
  }

  .inputList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  .headerLogo {
    position: fixed;
    left: 0;
    top: 0;
  }
  #findBestEvents{
    color: rgb(220, 86, 197);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 900;
    //line-height: 22px;
    //letter-spacing: 0%;
    text-align: center;
    display: block;
    margin-top: 65px;
    margin-left: 0;
  }
.imgCardFullscreenContainer{
  display: none;
}
  .ILoveBootstrapIfuckCodepen{
    margin-left: 0;
    margin-right:  0;
    width: fit-content;
  }
  .cardFullScreen{
    border-radius: 0 50px;
  }
  header{
    background-position-x: center;
  }
}

.inpBoxItem, .second-input{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
}
.second-input{
  position: relative;
}
.secondInputBtn{
  position: absolute;
  //top: 10px;
  bottom: 2.5px;
  @media (max-width: 500px) {
    bottom: 0px;
  }
}
.headerLogo{
  z-index: 997;
}
.cardFullScreen{
  z-index: 998;
}
.cardImg{
  transition:all 0.5s;}
  .cardImg:hover{
    transform: scale(1.1);
  }

  .card{
    z-index: 997;
  }
#countriesList{
  position: relative;
  z-index: 999;
}
