.heading {
  color: $pink;
  font-family: Montserrat;
  font-size: 3.125rem;
  font-weight: 900;
  line-height: 3.8125rem;
  letter-spacing: 0%;
  max-width: 37.5rem;
  align-items: center;
  text-align: left;
  margin: 0 auto;
}
.headerLogo {
  width: 9rem;
}
header {
  background: url('../img/topBg.png');
  height: 20rem;
}
.inpBoxItem {
  border-radius: 1.25rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: 0;
  padding: 0.625rem;
  width: fit-content;
  display: inline;

  border-radius: 20px;

  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-family: Montserrat;
}
.inputBox {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

#countriesList {
  background-color: transparent;
  border: 0;
  color: #fff;
}
.p23 {
  color: #fff;
  font-family: Montserrat;
}

::placeholder {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
}
