.pagBtn {
  background-color: transparent;
  border: 0;
  color: $white;
  padding: 0.3125rem;
  transition: 0.5s;
  border-radius: 0.625rem 0 0.625rem 0;
  margin: 0.3125rem;
  &:hover {
    color: $pink;
  }
}

.active {
  color: $pink;
  border: 0.125rem solid $pink;
}

#pagination{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.25rem;
}


#findBestEvents {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (max-width: 50rem) {
  header {
    background: url("../img/headerBgTablet768.png");
  }
  #findBestEvents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: fit-content;
  }
  .inputList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
  .headerLogo {
    position: fixed;
    left: 0;
    top: 0;
  }
}
.heading {
  position: absolute;
  top: 40px;
  transform: translateX(-50%);
}
@media (max-width: 800px) {
  .heading {
    font-size: 2rem;
    top: 10px;
    transform: translateX(0);
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .heading {
    font-size: 2rem;         // Уменьшенный размер шрифта
    line-height: 2.5rem;     // Уменьшенная высота строки
    text-align: center;      // Центрирование текста
    margin: 20px auto;       // Добавляем отступы сверху и снизу
    position: relative;      // Убираем absolute позиционирование
    width: 100%;             // Занимает всю ширину контейнера
    padding: 10px;           // Внутренние отступы для удобства
  }

  header {
    display: flex;
    flex-direction: column; // Вертикальное выравнивание элементов
    align-items: center;    // Центрирование содержимого
    padding: 20px;          // Внутренние отступы для заголовка
  }
}
