$pink: rgb(220, 86, 197);
$light-pink: rgb(255, 242, 253);
$white: #fff;
$black: #000;
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 18.75rem;
$padding-large: 3.75rem 1.875rem;
$padding-medium: 2rem;
$font-size-large: 1.5rem;
$font-size-medium: 20px;
$font-size-small: 0.9rem;
$box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);